<head></head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<body>
    <div class="container">
        <h2>Deposit Money</h2>
        <input type="text" id="customer_input" placeholder="Enter Depositor Address">
        <input type="text" id="amount_input" placeholder="Enter Amount Input">
        <button class="btn" onclick="deposit()">Deposit</button>
        <button class="btn" onclick="transaction()">View Transaction</button>
        
        <form action="/main" method="post">
            <input type="submit" value="Main">
        </form>
        <p id="view_customer_input"></p>
        <p id="view_amount_input"></p>
        <script src ="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
        <script>
            const contractAddress = "0x6a28b9D0AF005b4F283E39Fd3D938AF3aEC7c4d7";
            const contractABI = [
                {
                    "inputs": [
                        {
                            "internalType": "address",
                            "name": "customer_input",
                            "type": "address"
                        },
                        {
                            "internalType": "uint256",
                            "name": "amount_input",
                            "type": "uint256"
                        }
                    ],
                    "name": "deposit_money",
                    "outputs": [],
                    "stateMutability": "payable",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "name": "deposit_view",
                    "outputs": [
                        {
                            "internalType": "address",
                            "name": "",
                            "type": "address"
                        },
                        {
                            "internalType": "uint256",
                            "name": "",
                            "type": "uint256"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                }
            ];

        const web3 = new Web3(Web3.givenProvider);
        const contract = new web3.eth.Contract(contractABI, contractAddress);

        async function deposit(){
            const accounts = await web3.eth.requestAccounts();
            const customer_input = document.getElementById("customer_input").value;
            const amount_input = document.getElementById("amount_input").value;
            console.log(customer_input, amount_input);

            await contract.methods.deposit_money(customer_input, amount_input).send({from:accounts[0]});

        }
        async function transaction(){
            const result = await contract.methods.deposit_view().call();

            document.getElementById("view_customer_input").innerText = "Depositor address is "+ result[0];
            document.getElementById("view_amount_input").innerText = "Amount input is "+ result[1];

        }
        </script>
    </div>
</body>
