<head></head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<body>
    <div class="container">
        <h2>Welcome to SC6106 Web3 Application</h2>
        <p>Main</p>
        <form action="/transferMoney" method="post">
            <input type="submit" value="Transfer Money">
        </form>
        <form action="/depositMoney" method="post">
            <input type="submit" value="Deposit Money">
        </form>
        <form action="/" method="post">
            <input type="submit" value="Exit">
        </form>
        
    </div>
</body>
